{% load staticfiles %}

{%if request.tool_requested.get_tool_type_display == "Powertool" %}
    <img id="pic_small" src="{% static 'tools/powertool.png' %}"/>
{%elif request.tool_requested.get_tool_type_display == "Construction" %}
    <img id="pic_small" src="{% static 'tools/hammer.png' %}"/>
{%elif request.tool_requested.get_tool_type_display == "Automotive" %}
    <img id="pic_small" src="{% static 'tools/wrench.png' %}"/>
{%elif request.tool_requested.get_tool_type_display == "Garden" %}
    <img id="pic_small" src="{% static 'tools/shovel.png' %}"/>
{%else%}
    <img id="pic_small" src="{% static 'tools/other.png' %}"/>
{%endif%}